# dependencies
node_modules

# next
.next
out

# production
build
dist

# env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local tooling
.vercel
.turbo
coverage
*.tsbuildinfo
playwright-report
test-results
supabase/.temp
